.cinza, .verde{
    color: white;
}
.cinza {
    background-color: gray;
}

.setinha {
    color: white;
}

.verde{
    background-color: green;
}

.amarela{
    background-color: yellow;
    color: black;
}

.linkbranco{
    color: white;
}